@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply mt-1 w-full rounded-lg border border-slate-200 bg-white px-3 py-2 text-sm focus:border-primary-500 focus:outline-none dark:border-slate-700 dark:bg-slate-900 dark:text-slate-100 dark:placeholder-slate-400;
  }
  .btn-primary {
    @apply rounded-lg bg-primary-600 text-white py-2 px-3 text-sm font-semibold hover:bg-primary-500 transition disabled:bg-slate-500;
  }
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
}

.dark .text-slate-600 {
  color: #f6f7ff !important;
}

.dark .text-slate-500 {
  color: #eef1ff !important;
}

.dark .text-slate-400 {
  color: #e3e8ff !important;
}

.dark .text-slate-300 {
  color: #d8e0ff !important;
}
